<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zcy.applibrary" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.NewActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>

        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
